/* enables hover effect on buttons */
div[role="button"]:not(.notion-record-icon):hover {
  background: rgba(55, 53, 47, 0.08);
}

/* hides loading spinners */
.loading-spinner {
  display: none !important;
}

/* hides elements on the top right (search box, duplicate, notion shortcut) */
.notion-topbar > div > div:not(:first-child) {
  display: none !important;
}

/* stops inline databases from overflowing horizontally */
.notion-frame {
  max-width: 100%;
  width: 100vw !important;
}

.notion-selectable {
  max-width: 100% !important;
}

.notion-scroller .notion-collection_view-block {
  width: 100% !important;
  max-width: 100% !important;
}

/* Resizes inlines databases */
.notion-scroller .notion-collection_view-block > div,
.notion-scroller .notion-collection_view-block > div > div > div,
.notion-scroller .notion-collection_view-block .notion-list-view,
.notion-scroller .notion-collection_view-block .notion-gallery-view,
.notion-scroller .notion-collection_view-block .notion-table-view,
.notion-scroller .notion-collection_view-block .notion-board-view,
.notion-scroller .notion-collection_view-block .notion-calendar-view {
  max-width: 100% !important;
  padding-left: unset !important;
  padding-right: unset !important;
}

/* pull alias arrows back inline */
svg.alias {
  display: inline-block !important;
  height: auto !important;
}

/* stops text from overflowing past max-width on bookmark blocks; */
.notion-bookmark-block div {
  white-space: unset !important;
}

/* fixes oversized page properties on Safari */
.notion-scroller
  > div:nth-child(2):not(.notion-page-content)
  > div:not([data-block-id])
  div:not(.notion-page-details-controls) {
  height: auto !important;
}

/* fixes possible stray header on tables */
.notion-collection_view_page-block > div:first-child {
  transform: unset !important;
}

/* fixes oversize icons in inline page links */
a[data-token-index] svg.page {
  height: auto !important;
}

/* mobile fixes */
@media only screen and (max-width: 960px) {
  /* normalizes banner / page title width */
  .notion-scroller > div:not([class]),
  .notion-scroller > div > div:not([class]) {
    width: 100% !important;
    max-width: 960px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .notion-scroller > div > div:not([class]) > div:not([class]) > div:not([class]) > div:not([class]), .notion-scroller > div > div:not([class]) > div:not([class]) > div:not([class]) > div:not([class]) > div:not([class]) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .notion-scroller > div > div:not([class]) > div:not([class]) > div:not([class]) > div:not([class]) > div:not([class]) > div:not([class]) > div{
    font-size:32px !important;
    margin:-20px 0 20px 0;
  }

  /* normalizes content width */
  .notion-page-content,
  .notion-page-content > .notion-collection_view-block,
  .notion-page-content > .notion-collection_view-block > div,
  .notion-page-content > .notion-collection_view-block > .notion-scroller > div {
    width: 100vw !important;
    /* max-width: unset !important; */
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  /* add padding to banner, but not to image */
  .notion-frame > .notion-scroller > div:first-child > div:last-child {
    padding-right: 2em !important;
    padding-left: 2em !important;
  }

  /* add padding to content */
  .notion-scroller > div:not([class]):not(:first-child),
  .notion-scroller > .notion-page-content,
  .notion-frame > .notion-scroller > .notion-scroller > .notion-list-view,
  .notion-frame > .notion-scroller > .notion-scroller > .notion-gallery-view,
  .notion-frame > .notion-scroller > .notion-scroller > .notion-table-view,
  .notion-frame > .notion-scroller > .notion-scroller > .notion-board-view,
  .notion-frame > .notion-scroller > .notion-scroller > .notion-calendar-view {
    padding-right: 2em !important;
    padding-left: 2em !important;
    flex-wrap: wrap
  }

  /* collapses flex rows into columns */
  .notion-column_list-block > div {
    flex-direction: column;
  }
  .notion-column_list-block > div > * {
    width: unset !important;
  }

  /* forces gallery to wrap around pages */
  .notion-gallery-view {
    width: 100vw;
  }

  /* enable horizontal scroll for lists and tables on mobile */
  .notion-collection-item > a {
    overflow: visible !important;
  }
  .notion-collection-item > a > div {
    width: unset !important;
  }
  .notion-scroller.horizontal {
    overflow-x: scroll;
  }

  /* makes the top border on overflowing list reach the full width of the list */
  .notion-list-view > .notion-collection_view_page-block {
    width: fit-content;
  }

  .notion-scroller
  > div:nth-child(2):not(.notion-page-content)
  > div:not([data-block-id])
  div:not(.notion-page-details-controls) {
  padding-left: 0!important;
  padding-right: 0!important;
}
}

.pseudoAfter:after {
  color: var(--pseudoAfter--color);
  content: var(--pseudoAfter--content);
  border: var(--pseudoAfter--border);
  width: var(--pseudoAfter--width);
  height: var(--pseudoAfter--height);
  display: var(--pseudoAfter--display);
  background: var(--pseudoAfter--background);
}

.pseudoBefore:before {
  color: var(--pseudoBefore--color);
  content: var(--pseudoBefore--content);
  border: var(--pseudoBefore--border);
  width: var(--pseudoBefore--width);
  height: var(--pseudoBefore--height);
  display: var(--pseudoBefore--display) !important;
  background: var(--pseudoBefore--background);
}

.pseudoSelection ::selection {
  color: var(--pseudoSelection--color);
  background: var(--pseudoSelection--background);
  text-shadow: var(--pseudoSelection--textShadow);
}
