/* enables hover effect on buttons */
div[role="button"]:not(.notion-record-icon):hover {
  background: rgba(55, 53, 47, 0.08);
}

/* hides loading spinners */
.loading-spinner {
  display: none !important;
}

/* hides elements on the top right (search box, duplicate, notion shortcut) */
.notion-topbar > div > div:not(:first-child) {
  display: none !important;
}

/* makes inline databases behave with window resizing */
.notion-collection_view-block {
  width: 900px !important;
  max-width: 100% !important;
}
.notion-collection_view-block > div,
.notion-collection_view-block .notion-list-view,
.notion-collection_view-block .notion-gallery-view,
.notion-collection_view-block .notion-table-view,
.notion-collection_view-block .notion-board-view,
.notion-collection_view-block .notion-calendar-view {
  padding-left: unset !important;
  padding-right: unset !important;
}

@media only screen and (max-width: 960px) {
  /* normalizes banner width */
  .notion-scroller > div > div:not([class]) {
    width: 100% !important;
    max-width: 960px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /* normalizes content width */
  .notion-page-content,
  .notion-page-content > .notion-collection_view-block,
  .notion-page-content > .notion-collection_view-block > div,
  .notion-page-content > .notion-collection_view-block > .notion-scroller > div {
    width: 100% !important;
    max-width: unset !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  /* add padding to banner, but not to image */
  .notion-frame > .notion-scroller > div:first-child > div:last-child {
    padding-right: 2em !important;
    padding-left: 2em !important;
  }

  /* add padding to content */
  .notion-scroller > .notion-page-content,
  .notion-frame > .notion-scroller > .notion-scroller > .notion-list-view,
  .notion-frame > .notion-scroller > .notion-scroller > .notion-gallery-view,
  .notion-frame > .notion-scroller > .notion-scroller > .notion-table-view,
  .notion-frame > .notion-scroller > .notion-scroller > .notion-board-view,
  .notion-frame > .notion-scroller > .notion-scroller > .notion-calendar-view {
    padding-right: 2em !important;
    padding-left: 2em !important;
  }

  /* collapses flex rows into columns */
  .notion-column_list-block > div {
    flex-direction: column;
  }
  .notion-column_list-block > div > * {
    width: unset !important;
  }

  /* Stops text from overflowing past max-width on bookmark blocks; */
  .notion-bookmark-block div {
    white-space: unset !important;
  }
}
